In [1]:
%config Completer.use_jedi = False

In [33]:
import pandas as pd
import requests
import gc # gabage collector

In [3]:
data = requests.get('https://pagead2.googlesyndication.com/getconfig/sodar?sv=200&tid=gda&tv=r20210712&st=env')

In [3]:
df = pd.read_html('https://www.stockbiz.vn/Stocks/vcb/HistoricalQuotes.aspx')

In [9]:
df

[                                                   0
 0  International Edition  GiÃ¡ trá»±c tuyáº¿n: Bá...,
                                                    0
 0  Trang chá»§ Thá» trÆ°á»ng Doanh nghiá»p TÃ ...,
           0        1              2
 0  VN-INDEX  1.24351  -55,80/-4,29%,
                                                    0
 0  VN-INDEX 1.243,51 -55,80/-4,29% | HNX-INDEX 29...,
                                                    0
 0  NgÃ¢n hÃ ng TMCP Ngoáº¡i thÆ°Æ¡ng Viá»t Nam  ...,
                                                    0
 0  NgÃ¢n hÃ ng TMCP Ngoáº¡i thÆ°Æ¡ng Viá»t Nam  ...
 1  function RefreshData(page)  { var startDate = ...
 2  CÃNG Cá»¤ Äáº¦U TÆ¯  QUáº¢N LÃ Cá» PHIáº¾U...,
                                                    0
 0  NgÃ¢n hÃ ng TMCP Ngoáº¡i thÆ°Æ¡ng Viá»t Nam  ...,
                                                    0
 0  function RefreshData(page)  { var startDate = ...,
              0                                                  1  \
 0  Tá»« ngÃ y:  //<![CDATA[ var ctl00_webPartManager_wp1770166...

                2                                                  3   4
 0  Äáº¿n ngÃ y:  //<![CDATA[ var ctl00_webPartManager_wp1770166... NaN  ,
                                                    0   1
 0  //<![CDATA[ /*** ComponentArt.Web.UI.Calendar ... NaN,
                                                    0   1
 0  //<![CDATA[ /*** ComponentArt.Web.UI.Calendar ... NaN,
          NgÃ y   Thay Äá»i  Má» cá»­a  Cao nháº¥t  Tháº¥p nháº¥t  \
 0   19/07/2021  -5,50/-5,37%       10000       10020           9590
 1   16/07/2021  0,00 / 0,00%       10250       10340          10100
 2   15/07/2021  +0,70/+0,69%       10020       10450          10020
 3   14/07/2021  -1,60/-1,55%       10340       10350          10000
 4   13/07/2021  -3,70/-3,45%       10690       10690          10210
 5   12/07/2021  -2,70/-2,46%       10950       10950          10310
 6   09/07/2021  -1,20/-1,08%       11000       11110          10680
 7   08/07/2021  -2,40/-2,12%       11120       11300          10900
 8   07/07/2021  +1,40/+1,25%       11200       11340          10600
 9   06/07/2021  -1,60/-1,41%       11250       11500          11200
 10  05/07/2021  -1,30/-1,13%       11390       11390          11090
 11  02/07/2021  -1,50/-1,29%       11640       11660          11400
 12  01/07/2021  0,00 / 0,00%       11670       11680          11500
 13  30/06/2021  +2,40/+2,11%       11400       11720          11400
 14  29/06/2021  +1,40/+1,24%       11200       11400          11150
 15  28/06/2021  0,00 / 0,00%       11260       11300          11110
 16  25/06/2021  +1,90/+1,72%       11070       11280          10890
 17  24/06/2021  +1,00/+0,91%       11000       11080          10780
 18  23/06/2021  +2,10/+1,95%       10800       11100          10700
 19  22/06/2021  +1,00/+0,94%       10710       10850          10650

     ÄÃ³ng cá»­a  Trung bÃ¬nh  ÄÃ³ng cá»­a ÄC Khá»i lÆ°á»£ng  Unnamed: 9
 0           9700         9776              9700       2.689.700         NaN
 1          10250        10229             10250       1.617.300         NaN
 2          10250        10234             10250       2.339.400         NaN
 3          10180        10150             10180       2.316.700         NaN
 4          10340        10392             10340       2.356.600         NaN
 5          10710        10602             10710       2.500.600         NaN
 6          10980        10894             10980       3.021.900         NaN
 7          11100        11082             11100       1.384.100         NaN
 8          11340        11098             11340       2.808.000         NaN
 9          11200        11349             11200       1.754.600         NaN
 10         11360        11243             11360       2.416.000         NaN
 11         11490        11505             11490       1.767.290         NaN
 12         11640        11612             11640       2.056.400         NaN
 13         11640        11581             11640       3.337.000         NaN
 14         11400        11329             11400       2.353.100         NaN
 15         11260        11214             11260       2.360.500         NaN
 16         11260        11145             11260       2.321.990         NaN
 17         11070        10931             11070       1.143.400         NaN
 18         10970        10923             10970       2.308.600         NaN
 19         10760        10768             10760       2.171.000         NaN  ,
                                                    0
 0  CÃNG Cá»¤ Äáº¦U TÆ¯  QUáº¢N LÃ Cá» PHIáº¾U...,
                                                    0
 0  Stockbiz  Giá»i thiá»u  Sáº£n pháº©m  Dá»ch...]

In [10]:
fx_exchange = df[-3]

In [11]:
fx_exchange.head(2)

,NgÃ y,Thay Äá»i,Má» cá»­a,Cao nháº¥t,Tháº¥p nháº¥t,ÄÃ³ng cá»­a,Trung bÃ¬nh,ÄÃ³ng cá»­a ÄC,Khá»i lÆ°á»£ng,Unnamed: 9
0,19/07/2021,"-5,50/-5,37%",10000,10020,9590,9700,9776,9700,2.689.700,NaN
1,16/07/2021,"0,00 / 0,00%",10250,10340,10100,10250,10229,10250,1.617.300,NaN

In [12]:
fx_exchange.columns = ['date', 'return', 'open_price', 'highest_price', 'lowest_price', 
                       'closing_price', 'avg_price', 'adjusted_closing_price', 'Volumn', 'UNK']

In [31]:
fx_exchange.drop(columns='UNK', inplace=True)

In [32]:
fx_exchange

,date,return,open_price,highest_price,lowest_price,closing_price,avg_price,adjusted_closing_price,Volumn
0,19/07/2021,"-5,50/-5,37%",10000,10020,9590,9700,9776,9700,2.689.700
1,16/07/2021,"0,00 / 0,00%",10250,10340,10100,10250,10229,10250,1.617.300
2,15/07/2021,"+0,70/+0,69%",10020,10450,10020,10250,10234,10250,2.339.400
3,14/07/2021,"-1,60/-1,55%",10340,10350,10000,10180,10150,10180,2.316.700
4,13/07/2021,"-3,70/-3,45%",10690,10690,10210,10340,10392,10340,2.356.600
5,12/07/2021,"-2,70/-2,46%",10950,10950,10310,10710,10602,10710,2.500.600
6,09/07/2021,"-1,20/-1,08%",11000,11110,10680,10980,10894,10980,3.021.900
7,08/07/2021,"-2,40/-2,12%",11120,11300,10900,11100,11082,11100,1.384.100
8,07/07/2021,"+1,40/+1,25%",11200,11340,10600,11340,11098,11340,2.808.000
9,06/07/2021,"-1,60/-1,41%",11250,11500,11200,11200,11349,11200,1.754.600
10,05/07/2021,"-1,30/-1,13%",11390,11390,11090,11360,11243,11360,2.416.000
11,02/07/2021,"-1,50/-1,29%",11640,11660,11400,11490,11505,11490,1.767.290
12,01/07/2021,"0,00 / 0,00%",11670,11680,11500,11640,11612,11640,2.056.400
13,30/06/2021,"+2,40/+2,11%",11400,11720,11400,11640,11581,11640,3.337.000
14,29/06/2021,"+1,40/+1,24%",11200,11400,11150,11400,11329,11400,2.353.100
15,28/06/2021,"0,00 / 0,00%",11260,11300,11110,11260,11214,11260,2.360.500
16,25/06/2021,"+1,90/+1,72%",11070,11280,10890,11260,11145,11260,2.321.990
17,24/06/2021,"+1,00/+0,91%",11000,11080,10780,11070,10931,11070,1.143.400
18,23/06/2021,"+2,10/+1,95%",10800,11100,10700,10970,10923,10970,2.308.600
19,22/06/2021,"+1,00/+0,94%",10710,10850,10650,10760,10768,10760,2.171.000

In [34]:
del fx_exchange_2
del fx_exchange_3

gc.collect()

76

In [37]:
gc.collect()

22

In [38]:
df = requests.get('https://dchart-api.vndirect.com.vn/dchart/history?resolution=1&symbol=VCB&from=1626627600&to=1626698719')

In [39]:
data = df.json()

In [41]:
df = pd.DataFrame(data)

In [42]:
df.head(2)

            t      c      o      h      l      v   s
0  1626056100  108.9  109.5  109.5  108.9  23400  ok
1  1626056202  109.0  108.8  109.0  108.8   1200  ok

In [47]:
pd.drop(fx_exchange)

AttributeError: module 'pandas' has no attribute 'drop'

In [48]:
type(fx_exchange)

pandas.core.frame.DataFrame

In [49]:
type(fx_exchange)

pandas.core.frame.DataFrame